#titulo {
    color: red;
    font-size: 55px;
    background: rgb(224, 219, 219);
    text-shadow: 4px 1px 6px black; 
}
#paragrafo {
    color: blue; 
    font-size: 20px;
    font-weight: bold;
    
}

#botao {
    background: rgb(55, 212, 55);
    border-color: rgb(212, 173, 76);
    
}

#outro-botao {
    background: chocolate;
    border-color: greenyellow;
    
}

